.gfirem_field {
    color: #dc5958;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    display: none;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.autocomplete-loading{
    display: none;
}

.autocomplete-loading-container{
    float: right;
    margin-right: 15px;
    position: relative;
    display: block;
    top: -29px;
}

.fac_frm_remove_tag:before{
    content: '\e600';
}

.fac_frm_add_tag:before{
    content: '\e602';
}

.fac_frm_remove_tag:before,
.fac_frm_add_tag:before{
    vertical-align: middle;
}